#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  width: 50%;
  text-align: center;
}

#table {
  display: flex;
  justify-content: center;
}

#dropdown {
  display: flex;
}