#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  width: 50%;
  text-align: center;
}

#table {
  display: flex;
  justify-content: center;
}

#dropdown {
  display: flex;
}

#sortDropdown {
  display: flex;
}

#pagination {
  display: flex;
  column-gap: 5px;
}

.pageButton {
  border-style: solid;
  border-radius: 5px;
  background-color: beige;
}

.pageButton:hover {
  cursor: pointer;
}

.highlight {
  background-color: aquamarine;
}

.sortIcon:hover {
  cursor: pointer;
}