#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  border-collapse: collapse;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#title {
  width: 50%;
  text-align: center;
}

.countDropdownArea {
  width: 500px;
  display: flex;
  column-gap: 20px;
}

.table {
  width: 500px;
  text-align: center;
  border-collapse: collapse;
}

thead tr {
  background-color: rgb(214, 213, 213);
}

tr:nth-child(even) {
  background-color: rgb(214, 213, 213);
}

th, td {
  border-bottom: 1px solid;
  padding: 5px;
}

.tableHeadItemName {
  display: inline-block;
}

.tableHeadItemName:hover {
  cursor: pointer;
}

.head-highlight {
  color: rgb(250, 44, 44);
  font-weight: bold;
}

#dropdown {
  display: flex;
}

#sortDropdown {
  display: flex;
}

#pagination {
  display: flex;
  column-gap: 5px;
}

.pageButton {
  border-style: none;
  border-radius: 5px;
  background-color: white;
  font-weight: bold;
  font-size: 1rem;
}

.pageButton:hover {
  cursor: pointer;
}

.highlight {
  color: rgb(250, 44, 44);
}